.header{
	background-color: #ADD8E6;
	text-align: center;
	padding: 10px;
}

.footer{
	background-color: #2F4F4F;
	color: white;
	text-align: center;
	padding: 10px;
}

.menu ul{
	background-color: #2F4F4F;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.menu li{
	display: inline;
	background-color: #2F4F4F;
	color: white;
	border-right: 1px solid black;
	padding: 9px;
}

.grid-container {
	display: grid;
	height: 250px;
	grid-template-areas:
    "column1 column3"
    "column2 column2";
}

.column1{
	grid-area: column1;
	background-color: #AAAAAA;
}

.column2{
	grid-area: column2;
	background-color: #BBBBBB;
}

.column3{
	grid-area: column3;
	background-color: #CCCCCC;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-areas: "column1 column2 column2 column3";
  }
}